body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cart {
  color: blue;
  height: 100px;
  cursor: pointer;
}

.Card{
  display: block;
  width: 15rem;
  margin: auto;
  height: auto;
  border-radius: 5px;
  padding: auto;
  
}

.map{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
 
}